<div
  class="music-player"
  songName="Oleg Zhmelev - Last Caress"
  audioPath="media/posts/last_caress.mp3"
  thumbnailPath="media/posts/last_caress.png"
></div>
<div class="post-text">
  <h2>Last Caress (cover)</h2>
  <hr />
  <p>
    Боевая кричалка от легендарных The Misfits! Last Caress - одна из самых
    популярных песен группы, которую не перепевал только самый ленивый. В числе
    групп, записавших кавер на нее: Metallica и Avenged Sevenfold!
  </p>
  <p>
    Песня, как подобает классическому панку, звучит очень мажорно и энергично,
    что не скажешь про текст песни. Классика.
  </p>
  <p>
    В целом тут ничего сложного, однако с вокалом пришлось немного попотеть:
    хотел сделать его компрессированным и агрессивным, что в целом получилось.
    Получилось даже, можно сказать, очень прилично. Присет собираюсь
    задействовать и в других песнях.
  </p>
</div>
