<div class="post-player">
    <img class="post-player-cover" src="../media/posts/last_caress.png" alt="last_caress">
    <div class="post-player-controls">
        <input class="post-player-slider" type="range" value='0'></input>
        <h3 class="post-player-title">Oleg Zhmelev - Last Caress</h3>
        <p class="post-player-timestamp" id="timestamp"></p>
        <div class="post-player-controls-buttons">
            <button class="post-player-controls-buttons-back" id="skip-backward"><img
                    src="../media/icons/skip-backward-btn.svg" alt="play"></button>
            <button class="post-player-controls-buttons-play" id="play-pause"><img src="../media/icons/play.svg"
                    alt="play"></button>
            <button class="post-player-controls-buttons-forward" id="skip-forward"><img
                    src="../media/icons/skip-forward-btn.svg" alt="play"></button>
        </div>
        <audio id="audio">
            <source src="../media/posts/last_caress.mp3" type="audio/mpeg">
        </audio>
    </div>
</div>
<div class="post-text">
    <h2>Last Caress (cover)</h2>
    <hr>
    <p>
        Боевая кричалка от легендарных The Misfits! Last Caress - одна из самых популярных
        песен группы, которую не перепевал только самый ленивый. В числе групп, записавших кавер на
        нее: Metallica и Avenged Sevenfold!
    </p>
    <p>
        Песня, как подобает классическому панку, звучит очень мажорно и энергично, что не скажешь про
        текст песни. Классика.
    </p>
    <p>
        В целом тут ничего сложного, однако с вокалом пришлось немного попотеть: хотел сделать его
        компрессированным и агрессивным, что в целом получилось. Получилось даже, можно сказать, очень
        прилично. Присет собираюсь задействовать и в других песнях.
    </p>
</div>