<div class="post-text">
    <h2>olegzhmelev.ru теперь еще и minecraft server!</h2>
    <hr>
    <p>
        Решил захостить сервер достаточно старой версии minecraft,
        а именно beta 1.7.3. Почему именно ее? Наверное просто настольгия.
    </p>
    <p>
        Как по мне, современные версии minecraft достаточно раздутые, с огромным
        количеством контента. В этом нет ничего плохого! Однако иногда хочется все-таки
        вернуться в те времена, когда трава была зеленее (буквально).
    </p>
    <h2>Как подключиться?</h2>
    <hr>
    <p>
        Поскольку версия достаточно старая, запустится она у вас только с версией Java 8.
        В качестве лаунчера можно использовать лаунчер фанатского проекта 
        <a href="https://betacraft.uk/">betacraft.uk</a>.
    </p>
</div>