<div
  class="music-player"
  songName="Радость"
  audioPath="media/posts/радость.mp3"
  thumbnailPath="media/posts/radost_cover.jpeg"
></div>
<div class="post-text">
  <h2>Радость (инструментал)</h2>
  <hr />
  <p>Потом напишу че-нибудь</p>
</div>
