<div
  class="music-player"
  songName="iceworld"
  audioPath="media/posts/iceworld.mp3"
  thumbnailPath="media/posts/smashrooms_temp_cover.png"
></div>
<div class="post-text">
  <h2>Начало разработки Smashrooms2 + первый саундтрек</h2>
  <hr />
  <p>
    <b>Ура! Началась разработки второй части одноименной игры Smashrooms!</b>
  </p>
  <p>
    В этот раз я решил перенести всё в WEB, и на это есть несколько веских
    причин.
  </p>
  <p>
    <b>Во-первых</b>, WEB позволяет мне использовать в полную силу стек, который
    будет работать даже на смарт-чайнике. Это позволит мне уделить больше
    времени разработке, нежели борьбе с платформой в попытках заставить все ХОТЯ
    БЫ запуститься.
  </p>
  <p>
    <b>Во-вторых</b> это отличный способ подтянуть мои (уже) профессиональные
    навыки, научиться без проблем работать с WebSocket-ами, писать крутой CSS
    (не тот спагетти-фест, который я сделал для этого сайта), умело обращаться с
    TypeScript и писать структурированный код, который в дальнейшем мне не
    захочется вынести на помойку в месте с в протухшим в холодильнике кабачком.
  </p>
  <p>
    Ну и <b>в-третьих</b> мне в целом нравится писать на TypeScript. Еще ни разу
    за свою жизнь я не испытывал ощущения полного контроля над своим кодом, как
    с TypeScript. Он позволяет мне приручить непослушный JavaScript и сделать из
    него мощный инструмент не только для написания кода, но и для превращения
    моих мыслей <s>на бумагу</s> в код.
  </p>
  <p>
    Чтобы отпраздновать начало разработки я развернул тестовый
    <a href="http://olegzhmelev.ru:5890">стенд игры</a>, а также написал первый
    саундтрек iceworld.
  </p>
  <p>
    Репа тут:
    <a href="https://github.com/losdayver/smashrooms2"
      >github.com/losdayver/smashrooms2</a
    >
  </p>
</div>
