<div
  class="music-player"
  songName="ascend"
  audioPath="media/posts/ascend.mp3"
  thumbnailPath="media/posts/smashrooms_temp_cover.png"
></div>
<div
  class="music-player"
  songName="mycelium"
  audioPath="media/posts/mycelium.mp3"
  thumbnailPath="media/posts/smashrooms_temp_cover.png"
></div>
<div class="post-text">
  <h2>Записал новые саундтреки для игры!</h2>
  <hr />
  <p>
    Разработка ведется полным ходом, постоянно добавляем новые фишки и плюшки.
  </p>
  <p>
    Тестовый стенд как всегда доступен тут:
    <a href="http://olegzhmelev.ru:5890">стенд игры</a>
  </p>
  <p>
    А репозиторий вот тут:
    <a href="https://github.com/losdayver/smashrooms2"
      >github.com/losdayver/smashrooms2</a
    >
  </p>
  <p>На этот раз врываемся в бой под забористый задорный метал 🤘!</p>
</div>
