<div class="post-player">
  <img class="post-player-cover" src="../media/posts/thela_hun_ginjeet.png" alt="discipline">
  <div class="post-player-controls">
    <input class="post-player-slider" type="range" value='0'></input>
    <h3 class="post-player-title">Oleg Zhmelev - Thela Hun Ginjeet</h3>
    <p class="post-player-timestamp" id="timestamp"></p>
    <div class="post-player-controls-buttons">
      <button class="post-player-controls-buttons-back" id="skip-backward"><img
          src="../media/icons/skip-backward-btn.svg" alt="play"></button>
      <button class="post-player-controls-buttons-play" id="play-pause"><img src="../media/icons/play.svg"
          alt="play"></button>
      <button class="post-player-controls-buttons-forward" id="skip-forward"><img
          src="../media/icons/skip-forward-btn.svg" alt="play"></button>
    </div>
    <audio id="audio">
      <source src="../media/posts/thela_hun_ginjeet_mix1.1.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>
<div class="post-text">
  <h2>Thela Hun Ginjeet (cover)</h2>
  <hr>
  <p>
    Эта песня - одна из немногих песен King Crimson,
    которую можно включить в клубе, и все
    смогут энергично танцевать в ритм.
  </p>
  <p>
    Все инструменты, кроме гитары Фриппа играют в 4/4.
    Фрипп накладывает поверх всего этого свою механистичную
    партию в 7/4. Хотел бы так же заметить, что (по крайней мере я)
    слышу и привык слышать эту партию в размере 14/4, а не в 7/4.
    Вероятно просто моему мозгу комфортее воспринимать целое число в
    "числителе".
  </p>
  <p>
    Несмотря на такой диссонанс размеров партий, всё звучит
    достаточно складно. Оригинальная запись с альбома Discipline
    имеет очень особенный "хорусовый" звук. Гитары Фриппа и Белью
    хоть и играют на чистом звуке, из-за хоруса этот звук как будто
    расплывается между двумя гитарами и по-началу кажется, что
    играет один инструмент. У записи есть слегка "этническое"
    звучаение.
  </p>
  <p>
    Существует так же лайв с концертного альбома
    Absent Lovers. Этот лайв я как раз-таки и взял за основу,
    а конкретно барабаны Бруфорда. Остальные инструменты я записал
    сам. Эта запись, по сравнению с альбомной имеет более ярко выраженное
    звучаение. Немного потерена "этничность", но я люблю воспринимать
    эту запись, как одну из версий песни, просто она в целом чуть другая,
    не лучше и не хуже.
  </p>
  <p>
    Начиная запись кавера, я сначала хотел добавить вокал. Однако потом
    узнал, изначально в эту композицию King Crimson вообще не планировали
    добавлять вокальные партии (кроме монолого Белью), однако сам Белью
    настоял, что нужна какая-то партия, вокализ. Я же решил не добавлять вокал.
    Также решил немного поэксперемнтировать с гитарными партиями:
    Добавил много овердабов и моих интерпретаций некоторых партий.
  </p>
</div>