<section>
    <div class="personal-card">
        <div class="photo-container">
            <img src="../media/profile-photo.jpeg" alt="Oleg Zhmelev"
                style="width: 150px; height: 150px; border-radius: 50%;">
        </div>
        <div class="personal-info">
            <h2>Олег Жмелев</h2>
            <h2>21 год</h2>
            <hr />
            <h4>Fullstack WEB Developer | Programmer for Distributed Systems</h4>
            <p>Email: zhmelev.o@gmail.com</p>
            <p>Telegram: <a href="https://t.me/olegzhml" target="_blank">t.me/olegzhml</a></p>
            <p>GitHub: <a href="https://github.com/losdayver" target="_blank">github.com/losdayver</a></p>
        </div>
    </div>
</section>
<section>
    <div class="section-header">
        <div class="section-header-title">
            <h1>CV</h1>
        </div>
        <div class="section-header-time">
            <h3>2024-02-14</h3>
        </div>
    </div>
    <hr />
    <div class="section-contents">
        <div class="cv">
            <div class="cv-block">
                <h3>Hard Skills</h3>
                <hr />

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>Python</h4>
                        <img class="cv-block-skill-logo" src="../media/python_logo.png" alt="Python">
                    </div>
                    <div class="cv-block-skill-progressbar">
                        <div style="width: 80%;">Полупрофессиональный</div>
                    </div>
                    <h4>Кейсы разработки</h4>
                    <ul>
                        <li>
                            <p>Дизайн RESTful сервисов для распределенных систем</p>
                        </li>
                        <li>
                            <p>Написание скриптов для автоматизации и оптимизации бизнес процессов,
                                связанных с
                                инфраструктурными компонентами</p>
                        </li>
                        <li>
                            <p>Создание скриптоа для автоматизации Data Governence с инфраструктурных
                                компонентов</p>
                        </li>
                        <li>
                            <p>Fullstack разработка и деплой WEB приложений</p>
                        </li>
                    </ul>
                    <h4>Также умею</h4>
                    <ul>
                        <li>
                            <p>Писать эффективный простой код с дальнейшими перспективами поддержки другими
                                разработчиками</p>
                        </li>
                        <li>
                            <p>Работать с сетевыми протоколами прикладного уровня и сокетами</p>
                        </li>
                        <li>
                            <p>Писать тесты для приложений</p>
                        </li>
                    </ul>
                </div>

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>JS / TypeScript</h4>
                        <img class="cv-block-skill-logo" src="../media/js_logo.png" alt="JavaScript">
                        <img class="cv-block-skill-logo" src="../media/typescript_logo.png" alt="TypeScript">
                    </div>
                    <div class="cv-block-skill-progressbar">
                        <div style="width: 85%;">Полупрофессиональный</div>
                    </div>
                    <h4>Кейсы разработки</h4>
                    <ul>
                        <li>
                            <p>Разработка AJAX UI с использованием фреймворков React и JQuery</p>
                        </li>
                        <li>
                            <p>Разработка AJAX UI для распределенных систем</p>
                        </li>
                        <li>
                            <p>Дизайн и разработка REST API с использованием ExpressJS</p>
                        </li>
                    </ul>
                    <h4>Также умею</h4>
                    <ul>
                        <li>
                            <p>Работать с NodeJS и фреймворками</p>
                        </li>
                        <li>
                            <p>Писать тесты на Jest для приложений NodeJS</p>
                        </li>
                        <li>
                            <p>Писать эффективный ассинхронный код для веб сервисов и UI</p>
                        </li>
                    </ul>
                </div>

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>Golang</h4>
                        <img class="cv-block-skill-logo" src="../media/go_logo.png" alt="Go" style="width: 80px;">
                    </div>
                    <div class="cv-block-skill-progressbar">
                        <div style="width: 60%;">Продвинутый</div>
                    </div>
                    <h4>Кейсы разработки</h4>
                    <ul>
                        <li>
                            <p>Разработка многопоточных компонентов для высоконагруженных распределенных
                                систем
                            </p>
                        </li>
                        <li>
                            <p>Разработка WEB приложений с использование фреймворка Areo</p>
                        </li>
                    </ul>
                    <h4>Также умею</h4>
                    <ul>
                        <li>
                            <p>Писать эффективный распараллеленный код</p>
                        </li>
                    </ul>
                </div>

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>HTML + CSS</h4>
                        <img class="cv-block-skill-logo" src="../media/html_logo.png" alt="HTML"
                            style="width: 30px; height: 40px;">
                        <img class="cv-block-skill-logo" src="../media/css_logo.png" alt="CSS"
                            style="width: 30px; height: 40px;">
                    </div>
                    <div class="cv-block-skill-progressbar">
                        <div style="width: 70%;">Продвинутый</div>
                    </div>
                    <h4>Кейсы разработки</h4>
                    <ul>
                        <li>
                            <p>Fullstack дизайн и разработка данного WEB сайта
                            </p>
                        </li>
                        <li>
                            <p>Дизайн UI для компонентов распределенных систем по канонам UX UI</p>
                        </li>
                    </ul>
                    <h4>Также умею</h4>
                    <ul>
                        <li>
                            <p>Хорошо структурировать и комментировать HTML и CSS файлы для дальнейшей
                                поддержки
                                сторонними разработчиками</p>
                        </li>
                    </ul>
                </div>

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>C#</h4>
                        <img class="cv-block-skill-logo" src="../media/csharp_logo.png" alt="C#"
                            style="width: 30px; height: 35px;">
                    </div>
                    <div class="cv-block-skill-progressbar">
                        <div style="width: 60%;">Продвинутый</div>
                    </div>
                    <h4>Кейсы разработки</h4>
                    <ul>
                        <li>
                            <p>Game Development
                            </p>
                        </li>
                    </ul>
                    <h4>Также умею</h4>
                    <ul>
                        <li>
                            <p>Применять в разработке архитектурные паттерны и ООП</p>
                        </li>
                        <li>
                            <p>Создавать организованные структуры интерфейсов программы</p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="cv-block">
                <h3>Soft Skills</h3>
                <hr />

                <div class="cv-block-skill">
                    <h4>Коммуникабельность</h4>
                    <p>Умею четко и кратко доносить мысли и идеи до коллег по разработке</p>

                    <h4>Быстрое реагирование на проблемы</h4>
                    <p>Умею быстро анализировать и решать проблемы в короткий срок
                    </p>

                    <h4>Коллаборация</h4>
                    <p>Умею вести совместную разработку в команде, всегда открыт к новым идеям и
                        предложениям
                    </p>

                    <h4>Творческий подход</h4>
                    <p>Являюсь очень творческим человеком, люблю использовать творческий подход в работе и
                        проектах</p>
                </div>

                <h3>Опыт работы</h3>
                <hr />

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>UniCredit Bank</h4>
                        <img class="cv-block-skill-logo" src="../media/unicredit_logo.png" alt="Unicredit Bank"
                            style="width: 30px;">
                    </div>
                    <h4>Позиция</h4>
                    <p>Автоматизация жизненного цикла виртуальных инфраструктурных компонентов</p>
                    <h4>Даты</h4>
                    <p>2023 — сегодня</p>
                    <h4>Активности</h4>
                    <ul>
                        <li>
                            <p>Автоматизация бизнес процессов, связанных с инфраструктурными компонентами
                            </p>
                        </li>
                        <li>
                            <p>Анализ данных производительности инфраструктурных компонентов</p>
                        </li>
                        <li>
                            <p>Fullstack разработка приложения для анализа данных производительности
                                виртуальных
                                инфраструктурных компонентов</p>
                        </li>
                        <li>
                            <p>Fullstack разработка приложения для автоматической записи конференций</p>
                        </li>
                        <li>
                            <p>Волонтерство в качестве главного видеографа конференций и докладов</p>
                        </li>
                    </ul>
                </div>

                <h3>Также смотрите</h3>
                <hr />

                <div class="cv-block-skill">
                    <div class="cv-block-skill-header">
                        <h4>GitHub</h4>
                        <img class="cv-block-skill-logo" src="../media/github-logo.png" alt="Unicredit Bank"
                            style="width: 30px;">
                    </div>
                    <p>Ссылка: <a href="https://github.com/losdayver" target="_blank">github.com/losdayver</a>
                    </p>
                    <h4>Последние персональные проекты</h4>

                    <p>Ссылка: <a href="https://github.com/losdayver/Internet-Battle"
                            target="_blank">losdayver/Internet-Battle</a>
                    <p>Многопользовательская сетевая игра с собственным сетевым протоколом прикладного
                        уровня,
                        построенная на сокетах</p>
                    <div class="cv-block-skill-gallery">
                        <img src="../media/internet_battle_1.png" alt="Internet-Battle">
                        <img src="../media/internet_battle_2.png" alt="Internet-Battle">
                    </div>

                    <p>Ссылка: <a href="https://github.com/losdayver/life_cycle-game_cannons"
                            target="_blank">losdayver/life_cycle-game_cannons</a>
                    <p>Многопользовательская игра, написанная на C# с использованием SFML</p>
                    <div class="cv-block-skill-gallery">
                        <img src="../media/game_cannons.png" alt="Internet-Battle"
                            style="filter: drop-shadow(0px 0px 15px #222222ad);">
                    </div>

                    <p>Ссылка: <a href="https://github.com/N1stDev/MGANN" target="_blank">N1stDev/MGANN</a>
                    <p>Программа для классификации жанров музыки, построенная на модели обучения CNN</p>
                </div>

            </div>
        </div>
    </div>