<section>
  <div class="personal-card">
    <div class="photo-container">
      <img
        src="../media/profile-photo.jpeg"
        alt="Oleg Zhmelev"
        style="width: 150px; height: 150px; border-radius: 50%"
      />
    </div>
    <div class="personal-info">
      <h2>Олег Жмелев</h2>
      <h2>22 года</h2>
      <hr />
      <h4>Fullstack WEB Developer | GO developer</h4>
      <p>Английский: разговорный</p>
      <p>Телефон: +7 906 087-22-30</p>
      <p>Email: zhmelev.o@gmail.com</p>
      <p>
        Telegram:
        <a href="https://t.me/olegzhml" target="_blank">t.me/olegzhml</a>
      </p>
      <p>
        GitHub:
        <a href="https://github.com/losdayver" target="_blank"
          >github.com/losdayver</a
        >
      </p>
      <p>
        Ссылка на портал:
        <a href="https://olegzhmelev.ru/home">olegzhmelev.ru</a>
      </p>
    </div>
  </div>
</section>
<section>
  <div class="section-header">
    <div class="section-header-title">
      <h1>Personal CV</h1>
    </div>
    <div class="section-header-time">
      <h3>2024-02-14</h3>
    </div>
  </div>
  <div class="section-contents">
    <div class="cv">
      <div class="cv-block">
        <h3>Hard Skills</h3>
        <hr />

        <!--Golang-->
        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>Golang</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/go_logo.png"
              alt="Go"
              style="width: 80px"
            />
          </div>
          <div class="cv-block-skill-progressbar">
            <div style="width: 70%">Продвинутый</div>
          </div>
          <h4>Кейсы разработки</h4>
          <ul>
            <li>
              <p>
                Разработка микросервисов, выступающих в роле
                адаптеров/коннекторов для СУБД PostgreSQL и MSSQL
              </p>
            </li>
            <li>
              <p>
                Разработка микросервисов для on-premesis системы мониторинга
                производительности
                <a href="https://github.com/losdayver/server_metrics_analyser"
                  >github.com/losdayver/server_metrics_analyser</a
                >
              </p>
            </li>
            <li>
              <p>
                Разработка сервера приложения для обучения языку интерпретатора
                Bash
                <a href="https://github.com/losdayver/bash_trainer"
                  >github.com/losdayver/bash_trainer</a
                >
              </p>
            </li>
          </ul>
          <h4>Также умею</h4>
          <ul>
            <li>
              <p>
                Пользоваться продвинутыми инструментами параллелизма, такими как
                мьютексы, семафоры, каналы и другими
              </p>
            </li>
            <li>
              <p>
                Вести fullstack разработку приложения с применением инструментов
                библиотеки net/http и шаблонизатора HTMX
              </p>
            </li>
            <li>
              <p>
                Проводить Unit-тестирование приложения, а также интеграционное
                тестирование распределенного приложения
              </p>
            </li>
          </ul>
        </div>

        <!--JS/TS-->
        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>JS / TypeScript</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/js_logo.png"
              alt="JavaScript"
            />
            <img
              class="cv-block-skill-logo"
              src="../media/typescript_logo.png"
              alt="TypeScript"
            />
          </div>
          <div class="cv-block-skill-progressbar">
            <div style="width: 85%">Полупрофессиональный</div>
          </div>
          <h4>Кейсы разработки</h4>
          <ul>
            <li>
              <p>
                Разработка frontend'а и сервера приложения на NodeJS для
                on-premesis системы мониторинга производительности
                <a href="https://github.com/losdayver/server_metrics_analyser"
                  >github.com/losdayver/server_metrics_analyser</a
                >
              </p>
            </li>
            <li>
              <p>
                Fullstack разработка приложения для автоматизации бизнес
                процессов работы с ITSM системой компании АО "ЮниКредит Банк" на
                NodeJS ExpressJS
              </p>
            </li>
          </ul>
          <h4>Также умею</h4>
          <ul>
            <li>
              <p>Работать с jQuery и смежными фреймворками</p>
            </li>
            <li>
              <p>
                Писать эффективные и продуманные Unit-тесты на Jest для
                приложений NodeJS
              </p>
            </li>
            <li>
              <p>
                Использовать весь функционал ES6, а также продвинутые
                инструменты JavaScript
              </p>
            </li>
          </ul>
        </div>

        <!--Python-->
        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>Python</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/python_logo.png"
              alt="Python"
            />
          </div>
          <div class="cv-block-skill-progressbar">
            <div style="width: 80%">Полупрофессиональный</div>
          </div>
          <h4>Кейсы разработки</h4>
          <ul>
            <li>
              <p>
                Разработка системы сбора и аналитики сетевой доступности
                серверов для формирования списка устаревших записей в локальной
                системе DNS в компании АО "ЮниКредит Банк". Система
                интегрирована с BI инструментом PowerBI
              </p>
            </li>
            <li>
              <p>
                Разработка скриптов для автоматизации ETL бизнес процессов в
                компании АО "ЮниКредит Банк"
              </p>
            </li>
            <li>
              <p>
                Разработка системы мониторинга файрвола Fortigate на доступность
                провайдеров интернета. Мониторинг осуществляется благодаря
                протоколу SNMP с RaspberryPI
              </p>
            </li>
          </ul>
          <h4>Также умею</h4>
          <ul>
            <li>
              <p>
                Пользоваться широким инструментарием Python для работы с
                большими объемами данных (например, IterTools)
              </p>
            </li>
            <li>
              <p>
                Работать с сетевыми протоколами прикладного уровня и сокетами.
                Писать низкоуровненые сетевые скрипты для мониторинга систем
                DNS, FTP, SMB, SMPT и других
              </p>
            </li>
          </ul>
        </div>

        <!--Верстка-->
        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>HTML + CSS</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/html_logo.png"
              alt="HTML"
              style="width: 30px; height: 40px"
            />
            <img
              class="cv-block-skill-logo"
              src="../media/css_logo.png"
              alt="CSS"
              style="width: 30px; height: 40px"
            />
          </div>
          <div class="cv-block-skill-progressbar">
            <div style="width: 70%">Продвинутый</div>
          </div>
          <h4>Кейсы разработки</h4>
          <ul>
            <li>
              <p>
                Верстка веб-сайта
                <a href="https://olegzhmelev.ru">olegzhmelev.ru</a>
              </p>
            </li>
            <li>
              <p>
                Разработка frontend'а и сервера приложения на NodeJS для
                on-premesis системы мониторинга производительности
                <a href="https://github.com/losdayver/server_metrics_analyser"
                  >github.com/losdayver/server_metrics_analyser</a
                >
              </p>
            </li>
            <li>
              <p>Создание приложений на фреймворке React</p>
            </li>
          </ul>
          <h4>Также умею</h4>
          <ul>
            <li>
              <p>
                Хорошо структурировать и комментировать HTML и CSS файлы для
                дальнейшей поддержки сторонними разработчиками
              </p>
            </li>
          </ul>
        </div>

        <!--C#-->
        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>C#</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/csharp_logo.png"
              alt="C#"
              style="width: 30px; height: 35px"
            />
          </div>
          <div class="cv-block-skill-progressbar">
            <div style="width: 60%">Продвинутый</div>
          </div>
          <h4>Кейсы разработки</h4>
          <ul>
            <li>
              <p>Game Development</p>
            </li>
          </ul>
          <h4>Также умею</h4>
          <ul>
            <li>
              <p>Применять в разработке архитектурные паттерны и ООП</p>
            </li>
            <li>
              <p>Создавать организованные структуры интерфейсов программы</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="cv-block">
        <h3>Soft Skills</h3>
        <hr />

        <div class="cv-block-skill">
          <h4>Коммуникабельность</h4>
          <p>
            Умею четко и кратко доносить мысли и идеи до коллег по разработке
          </p>

          <h4>Быстрое реагирование на проблемы</h4>
          <p>Умею быстро анализировать и решать проблемы в короткий срок</p>

          <h4>Коллаборация</h4>
          <p>
            Умею вести совместную разработку в команде, всегда открыт к новым
            идеям и предложениям
          </p>

          <h4>Творческий подход</h4>
          <p>
            Являюсь очень творческим человеком, люблю использовать творческий
            подход в работе и проектах
          </p>
        </div>

        <h3>Опыт работы</h3>
        <hr />

        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>UniCredit Bank</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/unicredit_logo.png"
              alt="Unicredit Bank"
              style="width: 30px"
            />
          </div>
          <h4>Позиция</h4>
          <p>
            Автоматизация жизненного цикла виртуальных инфраструктурных
            компонентов частного облака
          </p>
          <h4>Даты</h4>
          <p>2022-02-01 — по настояшее время</p>
          <h4>Активности</h4>
          <ul>
            <li>
              <p>
                Автоматизация бизнес процессов, связанных с инфраструктурными
                компонентами
              </p>
            </li>
            <li>
              <p>
                Анализ данных производительности инфраструктурных компонентов
              </p>
            </li>
            <li>
              <p>
                Fullstack разработка приложения для анализа данных
                производительности виртуальных инфраструктурных компонентов
              </p>
            </li>
            <li>
              <p>
                Fullstack разработка приложения для автоматической записи
                конференций
              </p>
            </li>
            <li>
              <p>Главный видеограф внутренних ИТ конференций и докладов</p>
            </li>
          </ul>
        </div>

        <h3>Также смотрите</h3>
        <hr />

        <div class="cv-block-skill">
          <div class="cv-block-skill-header">
            <h4>GitHub</h4>
            <img
              class="cv-block-skill-logo"
              src="../media/github-logo.png"
              alt="Unicredit Bank"
              style="width: 30px"
            />
          </div>

          <p>
            Ссылка:
            <a href="https://github.com/losdayver">github.com/losdayver</a>
          </p>
          <h4>Последние персональные проекты</h4>

          <h3>Bash Trainer</h3>
          <p>
            Приложение для обучения пользователя основам составления Bash
            конвееров
          </p>
          <p>
            Репозиторий:
            <a href="https://github.com/losdayver/bash_trainer">
              github.com/losdayver/bash_trainer</a
            >
          </p>
          <p>
            Демо версия:
            <a href="https://olegzhmelev.ru/bash_trainer">
              olegzhmelev.ru/bash_trainer</a
            >
          </p>
          <div class="cv-block-skill-gallery">
            <img src="../media/bash_trainer1.png" alt="Bash Trainer" />
            <img src="../media/bash_trainer2.png" alt="Bash Trainer" />
          </div>

          <hr />

          <h3>Metrics Analyser</h3>
          <p>
            Распределенное приложение для сбора и обработки данных о
            производительности кластеров серверов
          </p>
          <p>
            Репозиторий:
            <a href="https://github.com/losdayver/server_metrics_analyser">
              github.com/losdayver/server_metrics_analyser</a
            >
          </p>
          <p>
            Демо версия:
            <a href="https://olegzhmelev.ru/diploma/views-dashboard">
              olegzhmelev.ru/diploma</a
            >
          </p>
          <div class="cv-block-skill-gallery">
            <img src="../media/metrics_dashboard.png" alt="Metrics Analyser" />
            <img src="../media/metrics_report.png" alt="Metrics Analyser" />
          </div>

          <hr />

          <h3>Smashrooms</h3>
          <p>
            Многопользовательская сетевая игра с собственным сетевым протоколом
            прикладного уровня, построенная на сокетах
          </p>
          <p>
            Репозиторий:
            <a href="https://github.com/losdayver/Internet-Battle">
              github.com/losdayver/Internet-Battle</a
            >
          </p>
          <div class="cv-block-skill-gallery">
            <img src="../media/internet_battle_1.png" alt="Internet-Battle" />
            <img src="../media/internet_battle_2.png" alt="Internet-Battle" />
          </div>

          <hr />

          <h3>Battle Game</h3>
          <p>
            Многопользовательская игра, написанная на C# с использованием SFML
          </p>
          <p>
            Репозиторий:
            <a href="https://github.com/losdayver/life_cycle-game_cannons">
              github.com/losdayver/life_cycle-game_cannons</a
            >
          </p>
          <div class="cv-block-skill-gallery">
            <img
              src="../media/game_cannons.png"
              alt="Game-Cannons"
              style="filter: drop-shadow(0px 0px 15px #222222ad)"
            />
          </div>

          <hr />

          <h3>MGANN</h3>
          <p>
            Репозиторий:
            <a href="https://github.com/N1stDev/MGANN"
              >github.com/N1stDev/MGANN</a
            >
          </p>
          <p>
            Программа для классификации жанров музыки, построенная на модели
            обучения CNN
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
