<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oleg Zhmelev | Персональный портал</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../media/favicon.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1>Oleg Zhmelev | Персональный портал</h1>
    </header>

    <nav class="top-nav">
        <ul>
            <li><a href="/home" <% if (nav_highlight==='Home' ) {%>
                    class='top-nav-selected'
                    <% } %>
                        >Home
                </a></li>

            <li>|</li>
            <li><a href="/posts" <% if (nav_highlight==='Posts' ) {%>
                    class='top-nav-selected'
                    <% } %>
                        >Posts
                </a></li>

            <!--
            <li>|</li>
            <li><a href="/projects"
                <% if (nav_highlight === 'Projects') {%> 
                class='top-nav-selected'
                <% } %>
            >Projects</a></li>

            <li>|</li>
            <li><a href="/gallery"
                <% if (nav_highlight === 'Gallery') {%> 
                class='top-nav-selected'
                <% } %>
            >Gallery</a></li>
            -->
        </ul>
    </nav>

    <div class="container">
        <%- include(container_contents) -%>
            <!--
        </section>
        <section>
            <div class="section-header">
                <div class="section-header-title">
                    <h2>Recent Posts</h2>
                </div>
                <div class="section-header-time">
                    <h3>2024-02-14</h3>
                </div>
            </div>
            <hr />
            <div class="section-contents">
            </div>
        </section>
        <section>
            <div class="pagination">
                <p>&lt;</p>
                <p class="pagination-active">1</p>
                <p>2</p>
                <p>3</p>
                <p>&gt;</p>
            </div>
        </section>
        -->
    </div>

    <footer>
        &copy; 2024 Oleg Zhmelev's Personal Page
    </footer>
</body>

</html>