<div>
  <label>prop: <input type="text" id="prop" /></label>
  <label>value: <input type="text" id="value" /></label>
  <button onclick="" id="set">set</button>
  <button onclick="" id="get">get</button>
</div>
<script src="scripts/remote/testing.js" type="module"></script>
