.music-player {
  max-width: 300px;
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #202020;
  border-radius: 20px;
  margin: 20px;
}

/* thumbnail */
.music-player-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: scale-down;
  border-radius: 10px;
}

/* controls */
.music-player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.music-player-title {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.music-player-timestamp {
  margin: 0;
}

.music-player-controls-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.music-player-controls-buttons > button {
  background-color: #555;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

@media (hover: hover) {
  .music-player-controls-buttons > button:hover {
    background-color: #777;
  }
}

.music-player-controls-buttons > button:active {
  transform: scale(0.9);
  background-color: #777;
}

.music-player-controls-buttons img {
  width: 30px;
  top: 50%;
  transform: translate(0, 5%);
  filter: invert(100%);
}

.music-player-slider {
  width: inherit !important;
  margin: 20px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #333;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #333;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.music-widget {
  position: fixed;
  margin-left: auto;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  width: 200px;

  color: white;
}

.music-widget > * {
  filter: drop-shadow(-2px 2px 2px #00000069);
}

.music-widget-handle {
  background: rgb(45, 72, 78, 0.9);
  margin-left: auto;

  width: 100px;
  height: 25px;

  border-radius: 10px 0 0 0;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

.music-widget-handle img {
  width: 30px;
}

.music-widget-current {
  background: rgb(45, 72, 78, 0.9);
  width: 250px;
  height: 150px;

  border-radius: 10px 0 0 0;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music-player-folded {
  height: 0 !important;
  display: none;
}

.music-widget-cover {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.music-widget-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.music-widget-buttons {
  display: flex;
  gap: 5px;
}

.music-widget-buttons button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.music-widget-song-name {
  width: 150px;
  overflow: hidden;
  text-wrap: nowrap;
  font-size: 0.7em;
  text-align: center;
}

.music-widget-looping {
  background-color: #71cee3 !important;
}
