/* Body Styles */
body {
    font-family: Mulish, Helvetica, sans-serif, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background: rgb(20, 120, 10);
    background: linear-gradient(
        30deg,
        rgba(20, 120, 10, 0.49341743533350846) 34%,
        rgba(0, 212, 255, 1) 100%
 


   );
}

/* Container Styles */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
header {
    background-color: #333333df;
    color: #fff;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

header h1 {
    margin-bottom: 0px;
}

/* Navigation Styles */
nav {
    background-color: #44444487;
    color: #fff;
    padding: 20px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: cornflowerblue;
}

.top-nav-selected {
    color: cadetblue;
}

/* Section Styles */
section {
    padding: 20px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

section:not(.section-find-posts) {
    animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
  
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
}
  
@keyframes show {
    100% {
        opacity: 1;
        transform: none;
    }
}

section a {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 1px 8px;
    text-decoration: none;
    color: white;
}

section a:hover {
    background-color: cornflowerblue;
    color: white;
}

.section-tags {
    display: flex;
    flex-wrap: wrap;
}

.section-tags h3, p {
    margin-right: 5px;
}

.section-tags p {
    padding: 5px;
    background: cadetblue;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* CV */

/* Personal Info */
.personal-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: center;
}

.photo-container {
    display: flex;
    padding-top: 35px;
    margin: 0px 30px;
}

.photo-container img {
    align-items: center;
}

.personal-info {
    margin: 10px 20px;
    padding-left: 10px;
}

.cv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cv p {
    margin-top: 4px;
    padding-inline-start: 15px;
}

.cv-block {
    width: 500px;
    flex-grow: 1;
    padding: 10px 0px;
}

.cv-block ul {
    padding-inline-start: 10px;
}

.cv-block h3 {
    padding-left: 10px;
}

.cv-block h4 {
    flex: 1;
    margin-bottom: 8px;
    background-color: rgba(95, 158, 160, 0.098);
    color: white;
    padding: 4px 12px;
}

.cv-block h3 {
    flex: 1;
}

.cv-block-skill-logo {
    padding-top: 15px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.cv-block-skill {
    padding: 10px 10px;
}

.cv-block-skill ul {
    margin-left: 1rem;
}

.cv-block-skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cv-block-skill-header h4 {
    background-color: rgba(95, 158, 160, 0.35);
    color: white;
    padding: 4px 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cv-block-skill-progressbar {
    max-width: 400px;
    background-color: black;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.cv-block-skill-progressbar > div {
    background-color: cadetblue;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
}

.cv-block-skill-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cv-block-skill-gallery img {
    padding-bottom: 20px;
    min-width: 50%;
    max-width: 300px;
}

/* Top Nav Bar */
.top-nav {
    margin: auto;
    font-size: 1.25rem;
}

.top-nav ul {
    max-width: 60%;
    margin: auto;

    display: flex;
    justify-content: space-around;
}

/* Posts */
.form-cluster {
    display: flex;
    flex-direction: column;
}

.form-cluster * {
    max-width: 300px;
}

.form-cluster-submit-button {
    padding: 10px;
    background: cadetblue;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.form-cluster-input-text {
    border-radius: 10px;
    border: none;
    height: 2rem;
    font-size: 1rem;
}

.post-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items:center;
}

.post-text {
    flex: 1;
    text-align: left;
    min-width: 300px;
    margin: 20px;
}

.post-image-main {

}

.post-text-top {

}

.post-player {
    max-width: 300px;
    min-width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #202020;
    border-radius: 20px;
    margin: 20px;
}

.post-player-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    border-radius: 10px;
}

.post-player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.post-player-title {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.post-player-timestamp {
    margin: 0;
}

.post-player-controls-buttons {
    margin: 10px 0;
}

.post-player-controls-buttons > button {
    background: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: white solid 2px;
}

.post-player-controls-buttons > button:active {
    transform: scale(0.8);
  }

.post-player-controls-buttons img {
    width: 30px;
    top: 50%;
    transform: translate(0, 5%);
    filter: invert(100%);
}
  
.post-player-controls-buttons-back:hover, 
.post-player-controls-buttons-forward:hover,
.post-player-controls-buttons-play:hover {
    background-color: #555;
}

.post-player-slider {
    width: 100% !important;;
    margin: 20px;
}

/* Default Section Contents */
.section-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

/* Pagination */
.pagination {
    margin: auto;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
}

.pagination p {
    margin: auto;
    text-align: center;
    line-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 20%;
    outline-offset: 0;
    background-color: gray;
}

.pagination-active {
    background-color: cadetblue !important;
    color: #333 !important;
}

/* Global Drop Shadow */
section,
nav,
.pagination *,
.post-player-cover,
.cv-block-skill-progressbar,
input,
button,
.post-player {
    filter: drop-shadow(5px 5px 5px #00000069);
}

/* Night Mode */
section {
    background-color: #333;
}

section p,
li,
h1,
h2,
h3,
h4 {
    color: rgb(232, 232, 232);
}

body {
    background: rgb(5, 33, 2);
    background: linear-gradient(
        30deg,
        rgba(5, 33, 2, 0.49341743533350846) 34%,
        rgba(0, 104, 125, 1) 100%
    );
}


/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 25rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: 0px; /* Centers thumb on the track */
    background-color: #333;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #333;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 1rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #333;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 8px solid #252525;
    outline-offset: 0.25rem;
  }
